<!doctype html>

<html lang="zh-cmn-Hans">

  <head>
    <%- partial('_partial/head') %>
  </head>

  <body>
    <div id="content">
      <header>
        <%- partial('_partial/header') %>
      </header>
      <article>
        <%- body %>
      </article>
    </div>
    <%- partial('_partial/hljs') %>
  </body>

</html>