<a class="blog-name" href="/">
    <img src="/logo-boxcode.png">
</a>

<% if (config.title){ %>
    <h1><%= config.title %></h1>
<% } %>

<% if (config.subtitle){ %>
    <h2><%= config.subtitle %></h2>
<% } %>